@model CreateEventDto
@{
    ViewData["Title"] = "Etkinlik Ekleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="container top-entete mb-2">
    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center">
            <h4 class="text-primary" style="line-height:15px"><i class="fa-solid fa-plus me-2"></i>Etkinlik Ekleme İşlemi </h4>
        </div>
    </div>
</div>

<div class="container formulaire mt-3">
    <form method="post" enctype="multipart/form-data">
        <label class="form-lable mb-1">Adı</label>
        <input type="text" asp-for="@Model.Name" class="form-control" placeholder="Etkinlik Adını giriniz" required/>
        <label class="form-label me-1 mt-3">Yeri</label>
        <input type="mail" asp-for="@Model.Location" class="form-control" placeholder="Etkinlik Nerede olacağını giriniz" required/>
        <label class="form-label me-1 mt-3">Görsel</label>
        <input type="file" asp-for="@Model.ImageFile" class="form-control" placeholder="Görsel Yükleyin " required/>
        <label class="form-label mb-1 mt-3">Tarih</label>
        <input type="text" asp-for="@Model.Date" class="form-control" placeholder="29 Ocak 1999" required/>
        <label class="form-label mb-1 mt-3">Başlangıç Saat</label>
        <input type="text" asp-for="@Model.StartAt" class="form-control" placeholder="00:00 AM/PM" required/>
        <label class="form-label mb-1 mt-3">Bitiş Saat</label>
        <input type="text" asp-for="@Model.EndAt" class="form-control" placeholder="00:00 AM/PM" required/>
        <label class="form-label mb-1 mt-3">Etkinlik Hakkında</label>
        <textarea asp-for="@Model.Description" class="form-control" style="min-height:100px;" placeholder="Etkinlik Hakkında Bilgi Giriniz" required></textarea>    
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary" type="submit">
                <i class="fa-solid fa-plus me-2"></i> Kaydet
            </button>
        </div>
    </form>
</div>